<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pig Game</title>
</head>

<body>
    <div class="logobox">Pig Game</div>
    <div class="dice-container">
        <div class="dicebox">
            <img src="/img/dice-1.png" alt="dice1" class="dice1">
            <img src="/img/dice-1.png" alt="dice2" class="dice2">
        </div>
        <div class="scorebox gutter-horizontal">
            <div class="scorebox0 active">
                <span class="player player0 ">Player 1</span>
                <span class="glb-score glb-0">0</span>
                <span class="score-text"> Round score: <span class="roundscore rounds0">09</span></span>
                
            </div>
            <div class="scorebox1">
                <span class="player player1">Player 2</span>
                <span class="glb-score glb-1">0</span>
                <span class=score-text>Round score: <span class="roundscore rounds1">67</span></span>
                <!-- <span class="score">0</span> -->

            </div>
        </div>
        <div class="buttons">
            <a href="#" class="button button-roll">Roll </a>
            <a href="#" class=" button button-hold">Hold </a>
            <a href="#" class="button button-reset">Reset</a>
            
            
        </div>
        
    </div>

        <script src="/js/app.js"></script>
</body>

</html>